body {
    background: #FFF;
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 23px;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 80px;
    font-weight: normal;
    margin: 50px 0;
    font-family: 'Chelsea Market', Georgia, serif;
    color: #000;
    line-height: 1;
    text-align:center;
}

h2 {
    font-size: 72px;
    font-weight: normal;
    margin: 0;
    color: #FFB000;
    font-family: 'Chelsea Market', Georgia, serif;
    text-transform: lowercase;
    text-align:center;
}

h3 {
    font-size: 45px;
    font-weight: normal;    
    margin: 0;
    margin-top: 30px;
}

h4 {
    font-size: 30px;
    font-weight: normal;
    margin: 40px auto;
    text-align: center;
}

p {
    width: 960px;
    margin: 30px auto;
    color: #000;
    line-height: 200%;
}

a, a:visited {
    color: #000;
    font-size: 12px;
    text-decoration: none;
}

a:hover {text-decoration: underline;}

ul {list-style: none;}

dl {
    width : 960px;
    margin: 30px auto;
}

dt {font-size: 27px;}

table {
    width : 700px;
    margin: 30px auto;
    border-collapse:collapse;
}

table tr, table th, table td { 
    border: 1px solid #fff;
    padding: 5px;
}

code {
    background-color: #000;
    font-style: normal;
    border-radius: 15px;
    color: white;
    padding: 5px 15px;
    font-family: menlo, monospace;
}

/*---------------------------------------- BLOCKS */

.block {
    position: relative;
    margin: auto 0;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}


.block-title { 
    background-color: #FFF; 
    padding: 20px 0 50px; 
    text-align: center;
}
.block-title h2 { color: #000; }
.block-title .navlist li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    font-size: 30px;
}
.block-title .navlist a {font-size: 30px; color: #000;}

.white { background-color: #fff; color: #000;}
.white p { color: #000;}
.white code { background-color: #000; color: #fff;}

.dark { background-color: #000; color: #fff; }
.dark p { color: #fff; }
.dark code { background-color: #fff; color: #000; }